<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/css/easymde.min.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
        <link rel="manifest" href="/assets/img/site.webmanifest" />
        <link rel="shortcut icon" href="/assets/img/favicon.ico" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-config" content="/assets/img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <script src="/assets/js/easymde.min.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter - Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="margin-top: 16px;">
            <div class="container">
                <a class="navbar-brand" href="/dashboard/home" style="color: rgb(0, 0, 0); font-size: 24px;"><img src="assets/img/logo.png" style="width: 40px;" />&nbsp;microletter</a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/home" style="font-size: 18px;">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icon-tabler-inbox"
                                    style="margin-bottom: 2px;"
                                >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                    <path d="M4 13h3l3 3h4l3 -3h3"></path>
                                </svg>
                                &nbsp;Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/editor" style="font-size: 18px;">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icon-tabler-pencil"
                                    style="margin-bottom: 2px;"
                                >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                                </svg>
                                &nbsp;Create a Post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/subscribers" style="font-size: 18px;">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icon-tabler-users"
                                    style="margin-bottom: 2px;"
                                >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                </svg>
                                &nbsp;Your Subscribers
                            </a>
                        </li>
                    </ul>
                    <span class="navbar-text actions">
                        <a
                            class="btn btn-light action-button"
                            role="button"
                            href="/dashboard/settings"
                            style="border-radius: 5px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; background: rgb(29, 106, 221); margin-left: 18px;"
                        >
                            <strong>Settings</strong>
                        </a>
                    </span>
                </div>
            </div>
        </nav>
        <section class="newsletter-subscribe" style="margin-top: -20px;">
            <div class="container">
                <div class="intro" style="margin-top: 10px; max-width: 100%;">
                    <h2 class="text-start" style="color: rgb(0, 0, 0); margin-bottom: 0px; font-size: 32px; border-color: rgb(0, 0, 0);">Create a new Post</h2>
                    <form method="post" action="/dashboard/editor/create" enctype="multipart/form-data">
                        <p style="margin-top: 5px; font-size: 18px;">You can create and send off a new post here.</p>
                        <input class="form-control form-control-lg" type="text" name="title" placeholder="The post's title" style="width: 100%; margin-top: 10px; margin-bottom: 20px;" />
                        <textarea class="form-control" name="content" placeholder="Write your post here" spellcheck="true" style="margin-top: 10px; height: 530px; width: 100%;"></textarea>
                        <p class="text-start" style="margin-top: -25px; margin-bottom: 0px; color: var(--bs-gray); font-size: 12px;">
                            proudly powered by <a href="https://github.com/Ionaru/easy-markdown-editor" target="_blank" style="color: var(--bs-gray);">EasyMDE</a>
                        </p>
                        <p class="text-start" style="margin-top: 40px; margin-bottom: 20px; font-size: 14px;">Remember, if you click send your Newsletter will be sent out to all subscribers - no going back!</p>
                        <button class="btn btn-primary" type="submit" style="margin-top: -5px;">SEND</button>
                    </form>
                    <script>
                        var easyMDE = new EasyMDE();
                    </script>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
    <footer>
        <p style="text-align: center; color: gray;"><a href="https://github.com/berrysauce/microletter" target="_blank" style="color: darkgray;">Source</a> | <a href="https://github.com/berrysauce/microletter/blob/main/LICENSE.md" target="_blank" style="color: darkgray;">License</a> | <a href="https://github.com/berrysauce/microletter/releases" target="_blank" style="color: darkgray;">Updates</a></p>
    </footer>
</html>
