<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="assets/css/easymde.min.css" />
        <script src="assets/js/easymde.min.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>

    <body>
        <section class="highlight-clean">
            <div class="container" style="margin-top: 130px;">
                <div class="intro">
                    <h2 class="text-center" style="color: rgb(0, 0, 0); font-size: 63px; margin-bottom: 10px;">
                        <br />
                        (╯°□°）╯︵{{ error_code }}
                    </h2>
                    <p class="text-center">
                        {{ error_description }} - (the server literally threw an error)<br />
                        <br />
                        <button class="btn btn-primary" type="button" style="background: rgb(255, 255, 255); color: rgb(162, 162, 162); border-color: rgb(204, 204, 204);" onclick="history.back()">Go back</button><br />
                    </p>
                </div>
            </div>
        </section>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
