<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>
    <body>
        <section class="highlight-clean">
            <div class="container">
                <div class="intro" style="margin-top: 140px;">
                    <h2 class="text-center" style="color: rgb(0, 0, 0);">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icon-tabler-circle-x"
                            style="font-size: 50px; color: rgb(220, 37, 37);"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <path d="M10 10l4 4m0 -4l-4 4"></path>
                        </svg>
                        <br />
                        {{ title }}
                    </h2>
                    <p class="text-center" style="color: rgb(54, 54, 54);">{{ description }}</p>
                </div>
            </div>
        </section>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
