<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/css/easymde.min.css" />
        <script src="/assets/js/easymde.min.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
        <link rel="manifest" href="/assets/img/site.webmanifest" />
        <link rel="shortcut icon" href="/assets/img/favicon.ico" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-config" content="/assets/img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>

    <body>
        <section class="highlight-clean">
            <div class="container" style="margin-top: 20px;">
                <div class="intro">
                    <h2 class="text-center" style="font-size: 32px; color: rgb(0, 0, 0);">
                        <img src="assets/img/logo.png" style="width: 77px;" /><br />
                        Welcome to microletter!
                    </h2>
                    <p class="text-center" style="margin-top: -15px;">Before you can start using your own installation of microletter, you need to complete the initial setup.</p>
                </div>
            </div>
        </section>
        <section class="newsletter-subscribe">
            <div class="container">
                <form method="post" action="/dashboard/settings/save" enctype="multipart/form-data">
                    <div>
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 1</span>&nbsp;Email</h2>
                        <p class="text-start" style="margin-top: -15px;">
                            To send your newsletter, you need to enter your Email credentials so your microletter installation can send Emails to your subscribers. Don't worry, microletter can only send Emails.
                            <strong>It's recommended to create a seperate Email address to send your newsletter from.</strong><br />
                            <br />
                            Don't know where to find your SMTP&nbsp;credentials? <a href="https://docs.microletter.cc/guides/how-to-get-your-smtp-credentials" target="_blank">Click here</a>.
                        </p>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icon-tabler-checkbox"
                            style="color: var(--bs-blue); margin-bottom: 4px; margin-right: 5px;"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="9 11 12 14 20 6"></polyline>
                            <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path>
                        </svg>
                        <a style="margin-top: 10px;" href="/dashboard/settings/test" id="test-link" target="_blank">Test the credentials</a>
                    </div>
                    <div style="margin-top: 35px;">
                        <hr />
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 2</span>&nbsp;Newsletter</h2>
                        <p class="text-start" style="margin-top: -15px;">Now comes the fun part. Here you can customize what your newsletter should look like.</p>
                        <input class="form-control" type="text" name="title" placeholder="Newsletter Name" style="margin-top: 10px; max-width: 400px;" required="" />
                        <input class="form-control" type="text" name="tagline" placeholder="Short Description" style="margin-top: 10px; max-width: 400px;" required="" maxlength="200" />
                        <textarea class="form-control" style="width: 100%; margin-top: 10px; min-height: 100px;" name="description" placeholder="Long Description" required="" maxlength="400"></textarea>
                        <div class="alert alert-warning" role="alert" style="margin-top: 30px; max-height: 40px; padding-top: 8px;"><span>It's a known problem, that a title in white can be invisible in some email clients.&nbsp;</span></div>
                        <p style="margin-top: 15px;">
                            Header colors:&nbsp; &nbsp; &nbsp;<input class="form-control form-control-color" type="color" required="" name="fade1" />fades to&nbsp;&nbsp;
                            <input class="form-control form-control-color" type="color" required="" name="fade2" />
                        </p>
                        <p style="margin-top: 10px;">Title Color:&nbsp; &nbsp; &nbsp;<input class="form-control form-control-color" type="color" required="" name="titletext" /></p>
                    </div>
                    <div style="margin-top: 35px;">
                        <hr />
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 3</span>&nbsp;Legal</h2>
                        <p class="text-start" style="margin-top: -15px;">
                            To comply to the most international laws, you need to fill out the following information. Your name will be used for the copyright message at the end of the page and your address will be added to the end of your
                            emails.
                        </p>
                        <input class="form-control" type="text" name="name" placeholder="Your Full Name" style="margin-top: 10px; width: 25%;" required="" />
                        <input class="form-control" type="text" name="address" placeholder="Your Address" style="margin-top: 10px; width: 70%;" required="" maxlength="200" />
                        <p style="margin-top: 25px; margin-bottom: 15px;">Your Privacy Policy. You can generate one at <a href="https://getterms.io" target="_blank">GetTerms.io</a> (Not affiliated).</p>
                        <textarea class="form-control" style="margin-top: 10px; min-width: 100%; min-height: 300px;" name="privacy" id="privacy-policy"></textarea>
                        <script>
                          var easyMDE = new EasyMDE({ element: document.getElementById("privacy-policy") });
                        </script>
                    </div>
                    <p class="text-start" style="margin-top: 50px;"><strong>Remember:</strong> You can change these settings later in the settings menu in your dashboard.</p>
                    <button class="btn btn-primary" type="submit" style="margin-top: 0px; margin-bottom: 20px;">I'M DONE!</button>
                </form>
            </div>
        </section>
        <footer class="footer-basic">
            <ul class="list-inline" style="font-size: 14px;">
                <li class="list-inline-item"><a href="https://github.com/berrysauce/microletter" target="_blank">Source</a></li>
                <li class="list-inline-item"><a href="https://github.com/berrysauce/microletter/releases" target="_blank">Updates</a></li>
                <li class="list-inline-item"><a href="https://docs.microletter.cc/" target="_blank">Help</a></li>
                <li class="list-inline-item"><a href="https://github.com/berrysauce/microletter/blob/main/LICENSE.md" target="_blank">License</a></li>
            </ul>
        </footer>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
