<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="assets/css/easymde.min.css" />
        <script src="assets/js/easymde.min.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>

    <body>
        <section class="highlight-clean">
            <div class="container" style="margin-top: 20px;">
                <div class="intro">
                    <h2 class="text-center" style="font-size: 32px; color: rgb(0, 0, 0);">
                        <img src="assets/img/logo.png" style="width: 77px;" /><br />
                        Welcome to microletter!
                    </h2>
                    <p class="text-center" style="margin-top: -15px;">Before you can start using your own installation of microletter, you need to complete the initial setup.</p>
                </div>
            </div>
        </section>
        <section class="newsletter-subscribe">
            <div class="container">
                <form method="post" action="/dashboard/settings/save" enctype="multipart/form-data">
                    <div>
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 1</span>&nbsp;Email</h2>
                        <p class="text-start" style="margin-top: -15px;">
                            To send your newsletter, you need to enter your Email credentials so your microletter installation can send Emails to your subscribers. Don't worry, microletter can only send Emails.
                            <strong>It's recommended to create a seperate Email address to send your newsletter from.</strong><br />
                            <br />
                            <strong>You need to add these credentials in your Deta Space dashboard.</strong> Click on the three dots next to the microletter app icon, click on settings and enter the details there.
                            Don't know where to find your SMTP&nbsp;credentials? <a href="https://docs.microletter.cc/guides/how-to-get-your-smtp-credentials" target="_blank">Click here</a>.
                        </p>
                        <a style="margin-top: 10px;" href="/setup/test" id="test-link" target="_blank">Test the credentials</a>
                    </div>
                    <div style="margin-top: 35px;">
                        <hr />
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 2</span>&nbsp;Newsletter</h2>
                        <p class="text-start" style="margin-top: -15px;">Now comes the fun part. Here you can customize what your newsletter should look like.</p>
                        <input class="form-control" type="text" name="title" placeholder="Newsletter Name" style="margin-top: 10px; max-width: 400px;" required="" />
                        <input class="form-control" type="text" name="tagline" placeholder="Short Description" style="margin-top: 10px; max-width: 400px;" required="" maxlength="200" />
                        <textarea class="form-control" style="width: 100%; margin-top: 10px; min-height: 100px;" name="description" placeholder="Long Description" required="" maxlength="400"></textarea>
                        <p style="margin-top: 15px;">
                            Header colors:&nbsp; &nbsp; &nbsp;<input class="form-control form-control-color" type="color" required="" name="fade1" />fades to&nbsp;&nbsp;
                            <input class="form-control form-control-color" type="color" required="" name="fade2" />
                        </p>
                        <p style="margin-top: 10px;">Title Color:&nbsp; &nbsp; &nbsp;<input class="form-control form-control-color" type="color" required="" name="titletext" /></p>
                    </div>
                    <div style="margin-top: 35px;">
                        <hr />
                        <h2 class="text-start d-xl-flex align-items-xl-center" style="color: rgb(72, 72, 72);"><span class="badge bg-primary" style="font-size: 14px;">STEP 3</span>&nbsp;Legal</h2>
                        <p class="text-start" style="margin-top: -15px;">
                            To comply to the most international laws, you need to fill out the following information. Your name will be used for the copyright message at the end of the page and your address will be added to the end of your
                            emails.
                        </p>
                        <input class="form-control" type="text" name="name" placeholder="Your Full Name" style="margin-top: 10px; max-width: 400px;" required="" />
                        <input class="form-control" type="url" style="margin-top: 10px; max-width: 400px;" name="privacy" placeholder="Link to your Privacy Policy" required="" />
                        <input class="form-control" type="text" name="address" placeholder="Your Address" style="margin-top: 10px; width: 100%;" required="" maxlength="200" />
                    </div>
                    <p class="text-start" style="margin-top: 50px;"><strong>Remember:</strong> You can change these settings later in the settings menu in your dashboard.</p>
                    <button class="btn btn-primary" type="submit" style="margin-top: 0px; margin-bottom: 20px;">I'M DONE!</button>
                </form>
            </div>
        </section>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
