<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="assets/css/easymde.min.css" />
        <script src="assets/js/easymde.min.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>microletter</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>

    <body>
        <section class="newsletter-subscribe">
            <div class="container">
                <div class="intro" style="margin-top: 140px;">
                    <h2 class="text-center" style="color: rgb(0, 0, 0); line-height: 40px; font-size: 32px;">Do you really want to unsubscribe?</h2>
                    <p class="text-center" style="color: rgb(54, 54, 54);">
                        Please enter your email so we can send you an unsubscribe link.<br />
                        After you've received the email (check your spam folder) click the link to confirm.
                    </p>
                </div>
                <form class="d-flex justify-content-center flex-wrap" method="post" action="/unsubscribe/send" enctype="multipart/form-data">
                    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Your Email" /></div>
                    <div class="mb-3"><button class="btn" type="submit" style="background: #e03b3b; color: rgb(255, 255, 255);">UNSUBSCRIBE</button></div>
                </form>
            </div>
        </section>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
